# VisualStudio
.vs/
[Bb]in/
[Oo]bj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio 2015 cache/options directory
.vs/

packages/
/src/kOS.sln.ide

# Monodevelop
[Ee]xported[Oo]bj/
*.userprefs

# VisualStudio Code
.vscode/

# Vim
*.swp

# Unity
[Ll]ibrary/
[Tt]emp/
/*.pidb
/*.user

# Build products and files generated during gameplay
[Rr]esources/GameData/kOS/Plugins/
[Rr]esources/*.dll
[Rr]esources/GameData/*.dll
!Resources/GameData/kOS/ICSharpCode.SharpZipLib.dll

# Symlink to KSP directory
KSPdirlink

# Part thumbnails added through the KSP symlink
Resources/GameData/kOS/Parts/@thumbs/

# OS Specific
.DS_STORE*
[Tt]humbs.db

#netkan for generating ckan test files
netkan.exe
*.ckan

#zip files for archived art assets
*.zip

# .swp files from vim (temporary files that vim creates when editing a file)
*.swp
