<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JsonPoke" version="1.2.0" targetFramework="net48" />
  <package id="KSPBuildTools" version="0.0.2-alpha.7" targetFramework="net48" />
  <package id="NSubstitute" version="1.8.1.0" targetFramework="net35" />
  <package id="NUnit" version="2.6.4" targetFramework="net35" />
</packages>